# indicates a comment line

nick = "sophia"
username = "sophia"
realname = "Sophia"
password = ""             # used with NickServ. Leave blank if it doesn't apply.


server = "chat.freenode.net"
port = "6667"


# owners own the bot and have all rights
owner = "Kays"
owner = "myano"
# admins have various rights and rights can be granted by owners
admin = "o{^_^}o"


# join the following channels
channel = "##sophia-dev"
channel = "##Kays"