# indicates a comment line

nick = "sophia"
realname = "Sophia"
password = ""          # used with NickServ. Leave empty if this does not apply


server = "chat.freenode.net"
port = "+7070"      # for SSL, prefix the port with + (ie.: +9999)


# join the following channels
channel = "#yano"
channel = "##Kays"
