# indicates a comment line

# These modules are recommended!
loadmodule "config.main";
loadmodule "config.alias";
loadmodule "config.reload";
loadmodule "config.save";
loadmodule "config.set";

loadmodule "acl.main";
loadmodule "acl.add";
loadmodule "acl.chanflags";
loadmodule "acl.del";
loadmodule "acl.flags";
loadmodule "acl.group";
loadmodule "acl.load";
loadmodule "acl.save";
loadmodule "acl.user";
loadmodule "acl.usergroup";

loadmodule "sophia.main";
loadmodule "sophia.action";
loadmodule "sophia.join";
loadmodule "sophia.msg";
loadmodule "sophia.notice";
loadmodule "sophia.part";
loadmodule "sophia.modload";
loadmodule "sophia.modunload";
loadmodule "sophia.modreload";
loadmodule "sophia.restart";
loadmodule "sophia.shutdown";

loadmodule "admin.main";
loadmodule "admin.ban";
loadmodule "admin.deop";
loadmodule "admin.devoice";
loadmodule "admin.kick";
loadmodule "admin.op";
loadmodule "admin.quiet";
loadmodule "admin.topic";
loadmodule "admin.unban";
loadmodule "admin.unquiet";
loadmodule "admin.voice";

# These modules are optional
# loadmodule "common.main";
# loadmodule "common.time";

# loadmodule "google.main";
# loadmodule "google.calc";
# loadmodule "google.dictionary";
# loadmodule "google.translate";

# loadmodule "games.main";
# loadmodule "games.roulette";

# loadmodule "web.main";
# loadmodule "web.acronym";
# loadmodule "web.ln_s";
# loadmodule "web.urltitle";
# loadmodule "web.wikipedia";
