# indicates a comment line

nick = "sophia"
username = "sophia"
realname = "Sophia"
password = ""             # used with NickServ. Leave blank if it doesn't apply.
usermode = "+i"


server = "irc.domain.net"
port = "6667"

owner_nick = "owner"
owner_host = "*!*@domain.net"


# this is the trigger for commands
trigger = "!"


# join the following channels
channel = "#sophia"
channel = "#sophia-dev"
