
# indicates a comment line

nick sophia
username sophia
realname sophia

# comment out the next line if the server does not use NickServ
password NickServPassword

# sophia's user mode
usermode +i

# irc server to connect to
server irc.domain.net

# for SSL, add a + before the port number
port 6667

# your name should not have a space
owner_name owner

# must be of a hostmask form: nick!user@host
owner_host *!*@domain.net


# this is the trigger for commands
trigger !


# join the following channels
# to add more, just add on more channel lines
channel #sophia
channel #sophia-dev


# command aliases
# it works similar to bash aliases
alias translate google:translate
